body {
    background-image: url("images/background.jpg");
    color: #ffff;
}

.site-header {
    display: flex;
    justify-content: center;
    font: normal normal normal 25px Poppins;
    letter-spacing: 0px;
  
    font-weight: 600;
}

.site-body {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    font: normal normal normal 23px Poppins;
    letter-spacing: 0px;
    font-weight: 600;
}

.visit-btnbox {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}

.visit-btn {
    cursor: pointer;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ff3700;
    padding: 12px 50px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -moz-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -ms-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.prosses-box {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    display: none;
}

.prosses {
    position: relative;
    top: 50%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    font: normal normal normal 23px Poppins;
    color: #000000;
}
.ok-btn-class{
    position: relative;
    top: 50%;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}
.ok-btn{
    cursor: pointer;
    font-weight: 400;
    color: #212529;
    text-align: center;
    background-color: #ff3700;
    padding: 12px 50px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0.25rem;
}